In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
catalog_file = 'data/DATA LABELED LINK.csv'
all_courses_file = 'course codes.csv'

In [ ]:
catalog = pd.read_csv(catalog_file)
all_courses = pd.read_csv(all_courses_file)

In [ ]:
catalog['Updated File Name'] = 'updated ' + catalog['Course File Name']
main_table = pd.DataFrame(catalog[['Title','Updated File Name']])

In [22]:
cols = all_courses.to_numpy().flatten()
# pd.concat([main_table, pd.Series(cols)])
cols

array(['COMM 1311', 'RHET 1302', 'MATH 1306', ..., 'MATH 3303',
       'MATH 3305', 'MATH 3307'], dtype=object)

In [21]:
main_table = catalog.reindex(columns=['Title', 'Updated File Name'] + cols.tolist())
main_table

,Title,Updated File Name,COMM 1311,RHET 1302,MATH 1306,MATH 1314,AMS 2300,AMS 2341,HUMA 1301,ARTS 1301,...,ECON 4362,ECON 4382,PSCI 4354,PSCI 4V99,PSCI 3327,PSCI 4364,MATH 2312,MATH 3303,MATH 3305,MATH 3307
0,Bachelor of Arts in American Studies,updated courses/Bachelor of Arts in American S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bachelor of Science in Healthcare Studies,updated courses/Bachelor of Science in Healthc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bachelor of Arts and Bachelor of Science in In...,updated courses/Bachelor of Arts and Bachelor ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Bachelor of Arts in Arts, Technology, and Emer...","updated courses/Bachelor of Arts in Arts, Tech...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Bachelor of Science in Cognitive Science,updated courses/Bachelor of Science in Cogniti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Master of Arts in Visual and Performing Arts,updated courses/Master of Arts in Visual and P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Doctor of Philosophy in Visual and Performing ...,updated courses/Doctor of Philosophy in Visual...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,Master of Science in Leadership and Organizati...,updated courses/Master of Science in Leadershi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Bachelor of Science in Business Analytics,updated courses/Bachelor of Science in Busines...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,School of Interdisciplinary Studies,updated courses/School of Interdisciplinary St...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN