In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
catalog_file = 'data/DATA LABELED LINK.csv'
all_courses_file = 'course codes.csv'

In [3]:
catalog = pd.read_csv(catalog_file)
all_courses = pd.read_csv(all_courses_file)

In [4]:
catalog['Updated File Name'] = 'updated ' + catalog['Course File Name']
main_table = pd.DataFrame(catalog[['Title','Updated File Name']])

In [5]:
cols = all_courses.to_numpy().flatten()
# pd.concat([main_table, pd.Series(cols)])
cols

array(['COMM 1311', 'RHET 1302', 'MATH 1306', ..., 'MATH 3303',
       'MATH 3305', 'MATH 3307'], dtype=object)

In [6]:
main_table = catalog.reindex(columns=['Title', 'Updated File Name'] + ['Count'] + cols.tolist())
main_table = main_table.fillna(0)
main_table

,Title,Updated File Name,Count,COMM 1311,RHET 1302,MATH 1306,MATH 1314,AMS 2300,AMS 2341,HUMA 1301,...,ECON 4362,ECON 4382,PSCI 4354,PSCI 4V99,PSCI 3327,PSCI 4364,MATH 2312,MATH 3303,MATH 3305,MATH 3307
0,Bachelor of Arts in American Studies,updated courses/Bachelor of Arts in American S...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Bachelor of Science in Healthcare Studies,updated courses/Bachelor of Science in Healthc...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Bachelor of Arts and Bachelor of Science in In...,updated courses/Bachelor of Arts and Bachelor ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Bachelor of Arts in Arts, Technology, and Emer...","updated courses/Bachelor of Arts in Arts, Tech...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Bachelor of Science in Cognitive Science,updated courses/Bachelor of Science in Cogniti...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Master of Arts in Visual and Performing Arts,updated courses/Master of Arts in Visual and P...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
137,Doctor of Philosophy in Visual and Performing ...,updated courses/Doctor of Philosophy in Visual...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138,Master of Science in Leadership and Organizati...,updated courses/Master of Science in Leadershi...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
139,Bachelor of Science in Business Analytics,updated courses/Bachelor of Science in Busines...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140,School of Interdisciplinary Studies,updated courses/School of Interdisciplinary St...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
for i, file_name in enumerate(main_table['Updated File Name']):
    count = 0
    try:
        for c in pd.read_csv(file_name)['Course Code']:
            main_table.loc[i, c] = 1
            count += 1
    except:
        print(file_name + ' did not read any inputs.')
    main_table.loc[i, 'Count'] = count

updated courses/Bachelor of Arts in Arts, Technology, and Emerging Communication.csv did not read any inputs.
updated courses/Bachelor of Arts / Bachelor of Science in International Political Economy.csv did not read any inputs.
updated courses/Bachelor of Arts in Visual and Performing Arts.csv did not read any inputs.
updated courses/Bachelor of Arts / Bachelor of Science in Chemistry.csv did not read any inputs.
updated courses/Bachelor of Arts / Bachelor of Science in Mathematics.csv did not read any inputs.
updated courses/Bachelor of Arts / Bachelor of Science in Physics.csv did not read any inputs.
updated courses/Bachelor of Science in Data Science.csv did not read any inputs.
updated courses/Bachelor of Science in Data Science.csv did not read any inputs.
updated courses/Master of Science in Speech-Language Pathology.csv did not read any inputs.
updated courses/Master of Arts in Interdisciplinary Studies.csv did not read any inputs.
updated courses/Bachelor of Arts / Bachelor of Science in Economics.csv did not read any inputs.
updated courses/Bachelor of Arts / Bachelor of Science in Biology.csv did not read any inputs.
updated courses/Master of Science in Leadership and Organizational Development.csv did not read any inputs.

In [8]:
main_table

,Title,Updated File Name,Count,COMM 1311,RHET 1302,MATH 1306,MATH 1314,AMS 2300,AMS 2341,HUMA 1301,...,ECON 4362,ECON 4382,PSCI 4354,PSCI 4V99,PSCI 3327,PSCI 4364,MATH 2312,MATH 3303,MATH 3305,MATH 3307
0,Bachelor of Arts in American Studies,updated courses/Bachelor of Arts in American S...,26.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Bachelor of Science in Healthcare Studies,updated courses/Bachelor of Science in Healthc...,93.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Bachelor of Arts and Bachelor of Science in In...,updated courses/Bachelor of Arts and Bachelor ...,47.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Bachelor of Arts in Arts, Technology, and Emer...","updated courses/Bachelor of Arts in Arts, Tech...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Bachelor of Science in Cognitive Science,updated courses/Bachelor of Science in Cogniti...,75.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Master of Arts in Visual and Performing Arts,updated courses/Master of Arts in Visual and P...,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
137,Doctor of Philosophy in Visual and Performing ...,updated courses/Doctor of Philosophy in Visual...,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138,Master of Science in Leadership and Organizati...,updated courses/Master of Science in Leadershi...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
139,Bachelor of Science in Business Analytics,updated courses/Bachelor of Science in Busines...,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140,School of Interdisciplinary Studies,updated courses/School of Interdisciplinary St...,438.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [9]:
# excluding first two columns
course_values_only = main_table.loc[:, ~main_table.columns.isin(['Title', 'Updated File Name', 'Count'])]
course_values_only

,COMM 1311,RHET 1302,MATH 1306,MATH 1314,AMS 2300,AMS 2341,HUMA 1301,ARTS 1301,FILM 2332,HIST 1301,...,ECON 4362,ECON 4382,PSCI 4354,PSCI 4V99,PSCI 3327,PSCI 4364,MATH 2312,MATH 3303,MATH 3305,MATH 3307
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [18]:
for r in course_values_only:
    if(not r):
        print(r)