In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
main_file = 'data/DATA LABELED LINK.csv'
main_df = pd.read_csv(main_file)

In [3]:
main_df['Course File with Codes'] = 'updated ' + main_df['Course File Name']

In [4]:
courses = []
for degree in main_df['Course File with Codes']:
    file_name = degree
    try:
        temp = pd.read_csv(degree)
        courses.append(list(temp['Course Code']))
    except:
        continue

In [15]:
courses = pd.DataFrame(pd.DataFrame(courses).to_numpy().flatten(), columns=['Course Codes'])

In [16]:
courses.head()

  Course Codes
0    COMM 1311
1    RHET 1302
2    MATH 1306
3    MATH 1314
4     AMS 2300

In [20]:
courses = courses.drop_duplicates(ignore_index=True)

In [23]:
courses.to_csv('course codes.csv',index=None)